<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget.abp.io" value="https://nuget.abp.io/344e5296-c763-47e6-b561-7ea0fcb0ba26/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Microsoft.*" />
      <package pattern="Volo.*" />
    </packageSource>
    <packageSource key="nuget.abp.io">
      <package pattern="Volo.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>